/* ==========================================================================
   7. Messaging
   ========================================================================== */

.error,
.error,
.attn,
.confirm,
.dialog,
.dialogue {
  padding: 0.5em;
  margin: 0.5em 0;
}

.error {
  background-color: #ffe3e3;
  border: 1px solid #c30300;
}

.attn {
  background-color: #ffffe1;
  border: 1px solid #b3b3b3;
}

.confirm {
  background-color: #d9e021;
  border: 1px solid #8cc63f;
}

.dialog,
.dialogue {
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
}

div.error:empty,
span.error:empty,
.attn:empty,
.confirm:empty,
.dialog:empty,
.dialogue:empty {
  display: none;
}

/* Notifications, Flags and Tags
================================================== */

.notify {
  display: inline-block;
  min-width: 1em;
  padding: 0.3em 0.7em;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #d9e021;
  border-radius: 1em;
}

.flag,
.amp_tag {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.6em 0.3em;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #e6e6e6;
}
.amp_tags .amp_tag {
  margin: 0 0.2em 0.4em 0;
  text-decoration: none;
}
.amp_tags {
}
/* Adapted from http://css-tricks.com/downloads/css-stuff/ Breadcrumbs with CSS Triangles

.amp_tag:after
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #E6E6E6;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.amp_tag:before
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
 */
.notify.sq,
.flag.sq,
.amp_tag.sq {
  border-radius: 0;
}

.notify.error,
.flag.error,
.amp_tag.error {
  background-color: #c30300;
}

.notify.attn,
.flag.attn,
.amp_tag.attn {
  background-color: #f2a706;
}

.notify.dialog,
.notify.dialogue {
  background-color: #e6e6e6;
}

.notify:empty,
.flag:empty,
.amp_tag:empty {
  display: none;
}
