/* ==========================================================================
   24. Mobile (Landscape) Design for a width of 480px
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .aiab-container {
    width: 94%;
    margin: 0 auto;
  }

  .aiab-container .col {
    margin: 0;
  }

  .aiab-container .one-fifth.col,
  .aiab-container .one-quarter.col,
  .aiab-container .one-third.col,
  .aiab-container .one-half.col,
  .aiab-container .two-thirds.col,
  .aiab-container .one.col,
  .aiab-container .two.col,
  .aiab-container .three.col,
  .aiab-container .four.col,
  .aiab-container .five.col,
  .aiab-container .six.col,
  .aiab-container .seven.col,
  .aiab-container .eight.col,
  .aiab-container .nine.col,
  .aiab-container .ten.col,
  .aiab-container .eleven.col,
  .aiab-container .twelve.col,
  .aiab-container .thirteen.col,
  .aiab-container .fourteen.col,
  .aiab-container .fifteen.col,
  .aiab-container .sixteen.col {
    width: 100%;
  }

  .aiab-container .first.last,
  .aiab-container .col.first.padded,
  .aiab-container .col.last.padded,
  .aiab-container .one-third.col.padded,
  .aiab-container .two-thirds.col.padded,
  .aiab-container .one-quarter.col.padded,
  .aiab-container .half.col.padded,
  .aiab-container .three-quarters.col.padded {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .aiab-fixed {
    position: relative;
  }

  .aiab-container .pager_nav .one.col {
    width: 28px;
  }
}
