/* ==========================================================================
   23. Mobile (Portrait) max width of 768px
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .aiab-container {
    width: 94%;
    margin: 0 auto;
  }

  .aiab-container .col {
    margin: 0;
  }

  .aiab-container .col.first {
    margin-left: 0;
  }

  .aiab-container .col.last {
    margin-right: 0;
  }

  .aiab-container .one.col,
  .aiab-container .two.col,
  .aiab-container .three.col,
  .aiab-container .four.col,
  .aiab-container .five.col,
  .aiab-container .six.col,
  .aiab-container .seven.col,
  .aiab-container .eight.col,
  .aiab-container .nine.col,
  .aiab-container .ten.col,
  .aiab-container .eleven.col,
  .aiab-container .twelve.col,
  .aiab-container .thirteen.col,
  .aiab-container .fourteen.col,
  .aiab-container .fifteen.col,
  .aiab-container .sixteen.col {
    width: 100%;
  }

  /* Offsets */
  .aiab-container .push_one,
  .aiab-container .push_two,
  .aiab-container .push_three,
  .aiab-container .push_four,
  .aiab-container .push_five,
  .aiab-container .push_six,
  .aiab-container .push_seven,
  .aiab-container .push_eight,
  .aiab-container .push_nine,
  .aiab-container .push_ten,
  .aiab-container .push_eleven,
  .aiab-container .push_twelve,
  .aiab-container .push_thirteen,
  .aiab-container .push_fourteen,
  .aiab-container .push_fifteen {
    padding-left: 0;
  }

  .fixed {
    position: relative;
  }
}
