/* ==========================================================================
   22. Tablet (Portrait) Design for a width of 768px
   ========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .aiab-container {
    width: 768px;
  }

  .aiab-container .col {
    margin-left: 10px;
    margin-right: 10px;
  }

  .aiab-container .col.padded {
    margin-left: 0;
    margin-right: 0;
  }

  .col.first {
    margin-left: 0;
    margin-right: 10px;
  }

  .col.last {
    margin-right: 0;
    margin-left: 10px;
  }

  .aiab-container .one-third.col.padded {
    width: 30.625%;
  }

  .aiab-container .two-thirds.col.padded {
    width: 64%;
  }

  .aiab-container .one-quarter.col.padded {
    width: 22.3625%;
  }

  .aiab-container .half.col.padded {
    width: 47.325%;
  }

  .aiab-container .three-quarters.col.padded {
    width: 72.325%;
  }

  .aiab-container .first.last,
  .aiab-container .col.first.padded,
  .aiab-container .col.last.padded,
  .aiab-container .one-third.col.padded,
  .aiab-container .two-thirds.col.padded,
  .aiab-container .one-quarter.col.padded,
  .aiab-container .half.col.padded,
  .aiab-container .three-quarters.col.padded {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .aiab-container .one.col {
    width: 28px;
  }

  .aiab-container .two.col {
    width: 76px;
  }

  .aiab-container .three.col {
    width: 124px;
  }

  .aiab-container .four.col {
    width: 172px;
  }

  .aiab-container .five.col {
    width: 220px;
  }

  .aiab-container .six.col {
    width: 268px;
  }

  .aiab-container .seven.col {
    width: 316px;
  }

  .aiab-container .eight.col,
  .aiab-container .half.col {
    width: 364px;
  }

  .aiab-container .nine.col {
    width: 412px;
  }

  .aiab-container .ten.col {
    width: 460px;
  }

  .aiab-container .eleven.col {
    width: 508px;
  }

  .aiab-container .twelve.col {
    width: 556px;
  }

  .aiab-container .thirteen.col {
    width: 604px;
  }

  .aiab-container .fourteen.col {
    width: 652px;
  }

  .aiab-container .fifteen.col {
    width: 700px;
  }

  .aiab-container .sixteen.col {
    width: 748px;
  }
  /* Offsets */
  .aiab-container .push_one {
    margin-left: 48px;
  }

  .aiab-container .push_two {
    margin-left: 96px;
  }

  .aiab-container .push_three {
    margin-left: 144px;
  }

  .aiab-container .push_four {
    margin-left: 192px;
  }

  .aiab-container .push_five {
    margin-left: 240px;
  }

  .aiab-container .push_six {
    margin-left: 288px;
  }

  .aiab-container .push_seven {
    margin-left: 336px;
  }

  .aiab-container .push_eight {
    margin-left: 384px;
  }

  .aiab-container .push_nine {
    margin-left: 432px;
  }

  .aiab-container .push_ten {
    margin-left: 480px;
  }

  .aiab-container .push_eleven {
    margin-left: 528px;
  }

  .aiab-container .push_twelve {
    margin-left: 576px;
  }

  .aiab-container .push_thirteen {
    margin-left: 624px;
  }

  .aiab-container .push_fourteen {
    margin-left: 672px;
  }

  .aiab-container .push_fifteen {
    margin-left: 720px;
  }

  .aiab-container .pull_one {
    margin-left: -48px;
  }

  .aiab-container .pull_two {
    margin-left: -96px;
  }

  .aiab-container .pull_three {
    margin-left: -144px;
  }

  .aiab-container .pull_four {
    margin-left: -192px;
  }

  .aiab-container .pull_five {
    margin-left: -240px;
  }

  .aiab-container .pull_six {
    margin-left: -288px;
  }

  .aiab-container .pull_seven {
    margin-left: -336px;
  }

  .aiab-container .pull_eight {
    margin-left: -384px;
  }

  .aiab-container .pull_nine {
    margin-left: -432px;
  }

  .aiab-container .pull_ten {
    margin-left: -480px;
  }

  .aiab-container .pull_eleven {
    margin-left: -528px;
  }

  .aiab-container .pull_twelve {
    margin-left: -576px;
  }

  .aiab-container .pull_thirteen {
    margin-left: -624px;
  }

  .aiab-container .pull_fourteen {
    margin-left: -672px;
  }

  .aiab-container .pull_fifteen {
    margin-left: -720px;
  }

  .aiab-container .pull_sixteen {
    margin-left: -760px;
  }
}
