.aiab-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.col {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.push_one,
.pull_one,
.push_two,
.pull_two,
.push_three,
.pull_four,
.push_five,
.pull_five,
.push_six,
.pull_six,
.push_seven,
.pull_seven,
.push_eight,
.pull_eight,
.push_nine,
.pull_nine,
.push_ten,
.pull_ten,
.push_eleven,
.pull_eleven,
.push_twelve,
.pull_twelve,
.push_thirteen,
.pull_thirteen,
.push_fourteen,
.pull_fourteen,
.push_fifteen,
.pull_fifteen,
.push_sixteen,
.pull_sixteen,
.push_seventeen,
.pull_seventeen,
.push_eigthteen,
.pull_eigthteen,
.push_nineteen,
.pull_nineteen,
.push_twenty,
.pull_twenty,
.push_twenty_one,
.pull_twenty_one,
.push_twenty_two,
.pull_twenty_two,
.push_twenty_three,
.pull_twenty_three,
.push_twenty_four,
.pull_twenty_four {
  position: relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.first {
  margin-left: 0;
}

.last {
  margin-right: 0;
}

/* Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.aiab-container .col.one {
  width: 2.167%;
}

.aiab-container .col.two {
  width: 6.333%;
}

.aiab-container .col.three {
  width: 10.5%;
}

.aiab-container .col.four {
  width: 14.667%;
}

.aiab-container .col.five {
  width: 18.833%;
}

.aiab-container .col.six {
  width: 23.0%;
}

.aiab-container .col.seven {
  width: 27.167%;
}

.aiab-container .col.eight {
  width: 31.333%;
}

.aiab-container .col.nine {
  width: 35.5%;
}

.aiab-container .col.ten {
  width: 39.667%;
}

.aiab-container .col.eleven {
  width: 43.833%;
}

.aiab-container .col.twelve {
  width: 48.0%;
}

.aiab-container .col.thirteen {
  width: 52.167%;
}

.aiab-container .col.fourteen {
  width: 56.333%;
}

.aiab-container .col.fifteen {
  width: 60.5%;
}

.aiab-container .col.sixteen {
  width: 64.667%;
}

.aiab-container .col.seventeen {
  width: 68.833%;
}

.aiab-container .col.eighteen {
  width: 73.0%;
}

.aiab-container .col.nineteen {
  width: 77.167%;
}

.aiab-container .col.twenty {
  width: 81.333%;
}

.aiab-container .col.twenty_one {
  width: 85.5%;
}

.aiab-container .col.twenty_two {
  width: 89.667%;
}

.aiab-container .col.twenty_three {
  width: 93.833%;
}

.aiab-container .col.twenty_four {
  width: 98.0%;
}

/* Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.aiab-container .prefix_one {
  padding-left: 4.167%;
}

.aiab-container .prefix_two {
  padding-left: 8.333%;
}

.aiab-container .prefix_three {
  padding-left: 12.5%;
}

.aiab-container .prefix_four {
  padding-left: 16.667%;
}

.aiab-container .prefix_five {
  padding-left: 20.833%;
}

.aiab-container .prefix_six {
  padding-left: 25.0%;
}

.aiab-container .prefix_seven {
  padding-left: 29.167%;
}

.aiab-container .prefix_eight {
  padding-left: 33.333%;
}

.aiab-container .prefix_nine {
  padding-left: 37.5%;
}

.aiab-container .prefix_ten {
  padding-left: 41.667%;
}

.aiab-container .prefix_eleven {
  padding-left: 45.833%;
}

.aiab-container .prefix_twelve {
  padding-left: 50.0%;
}

.aiab-container .prefix_thirteen {
  padding-left: 54.167%;
}

.aiab-container .prefix_fourteen {
  padding-left: 58.333%;
}

.aiab-container .prefix_fifteen {
  padding-left: 62.5%;
}

.aiab-container .prefix_sixteen {
  padding-left: 66.667%;
}

.aiab-container .prefix_seventeen {
  padding-left: 70.833%;
}

.aiab-container .prefix_eigthteen {
  padding-left: 75%;
}

.aiab-container .prefix_nineteen {
  padding-left: 79.167%;
}

.aiab-container .prefix_twenty {
  padding-left: 83.333%;
}

.aiab-container .prefix_twenty_one {
  padding-left: 87.5%;
}

.aiab-container .prefix_twenty_two {
  padding-left: 91.667%;
}

.aiab-container .prefix_twenty_three {
  padding-left: 95.833%;
}

/* Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.aiab-container .suffix_one {
  padding-right: 4.167%;
}

.aiab-container .suffix_two {
  padding-right: 8.333%;
}

.aiab-container .suffix_three {
  padding-right: 12.5%;
}

.aiab-container .suffix_four {
  padding-right: 16.667%;
}

.aiab-container .suffix_five {
  padding-right: 20.833%;
}

.aiab-container .suffix_six {
  padding-right: 25.0%;
}

.aiab-container .suffix_seven {
  padding-right: 29.167%;
}

.aiab-container .suffix_eight {
  padding-right: 33.333%;
}

.aiab-container .suffix_nine {
  padding-right: 37.5%;
}

.aiab-container .suffix_ten {
  padding-right: 41.667%;
}

.aiab-container .suffix_eleven {
  padding-right: 45.833%;
}

.aiab-container .suffix_twelve {
  padding-right: 50.0%;
}

.aiab-container .suffix_thirteen {
  padding-right: 54.167%;
}

.aiab-container .suffix_fourteen {
  padding-right: 58.333%;
}

.aiab-container .suffix_fifteen {
  padding-right: 62.5%;
}

.aiab-container .suffix_sixteen {
  padding-right: 66.667%;
}

.aiab-container .suffix_seventeen {
  padding-right: 70.833%;
}

.aiab-container .suffix_eigthteen {
  padding-right: 75%;
}

.aiab-container .suffix_nineteen {
  padding-right: 79.167%;
}

.aiab-container .suffix_twenty {
  padding-right: 83.333%;
}

.aiab-container .suffix_twenty_one {
  padding-right: 87.5%;
}

.aiab-container .suffix_twenty_two {
  padding-right: 91.667%;
}

.aiab-container .suffix_twenty_three {
  padding-right: 95.833%;
}

/* Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.aiab-container .push_one {
  left: 4.167%;
}

.aiab-container .push_two {
  left: 8.333%;
}

.aiab-container .push_three {
  left: 12.5%;
}

.aiab-container .push_four {
  left: 16.667%;
}

.aiab-container .push_five {
  left: 20.833%;
}

.aiab-container .push_six {
  left: 25.0%;
}

.aiab-container .push_seven {
  left: 29.167%;
}

.aiab-container .push_eight {
  left: 33.333%;
}

.aiab-container .push_nine {
  left: 37.5%;
}

.aiab-container .push_ten {
  left: 41.667%;
}

.aiab-container .push_eleven {
  left: 45.833%;
}

.aiab-container .push_twelve {
  left: 50.0%;
}

.aiab-container .push_thirteen {
  left: 54.167%;
}

.aiab-container .push_fourteen {
  left: 58.333%;
}

.aiab-container .push_fifteen {
  left: 62.5%;
}

.aiab-container .push_sixteen {
  left: 66.667%;
}

.aiab-container .push_seventeen {
  left: 70.833%;
}

.aiab-container .push_eigthteen {
  left: 75%;
}

.aiab-container .push_nineteen {
  left: 79.167%;
}

.aiab-container .push_twenty {
  left: 83.333%;
}

.aiab-container .push_twenty_one {
  left: 87.5%;
}

.aiab-container .push_twenty_two {
  left: 91.667%;
}

.aiab-container .push_twenty_three {
  left: 95.833%;
}

/* Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.aiab-container .pull_one {
  left: -4.167%;
}

.aiab-container .pull_two {
  left: -8.333%;
}

.aiab-container .pull_three {
  left: -12.5%;
}

.aiab-container .pull_four {
  left: -16.667%;
}

.aiab-container .pull_five {
  left: -20.833%;
}

.aiab-container .pull_six {
  left: -25.0%;
}

.aiab-container .pull_seven {
  left: -29.167%;
}

.aiab-container .pull_eight {
  left: -33.333%;
}

.aiab-container .pull_nine {
  left: -37.5%;
}

.aiab-container .pull_ten {
  left: -41.667%;
}

.aiab-container .pull_eleven {
  left: -45.833%;
}

.aiab-container .pull_twelve {
  left: -50.0%;
}

.aiab-container .pull_thirteen {
  left: -54.167%;
}

.aiab-container .pull_fourteen {
  left: -58.333%;
}

.aiab-container .pull_fifteen {
  left: -62.5%;
}

.aiab-container .pull_sixteen {
  left: -66.667%;
}

.aiab-container .pull_seventeen {
  left: -70.833%;
}

.aiab-container .pull_eigthteen {
  left: -75.0%;
}

.aiab-container .pull_nineteen {
  left: -79.167%;
}

.aiab-container .pull_twenty {
  left: -83.333%;
}

.aiab-container .pull_twenty_one {
  left: -87.5%;
}

.aiab-container .pull_twenty_two {
  left: -91.667%;
}

.aiab-container .pull_twenty_three {
  left: -95.833%;
}

/*
@media only screen and (max-width: 1020px)
{
	.aiab-container
	{
	    width: 96%;
	    padding: 0 2%;
	}
}

@media only screen and (max-width: 960px)
{
	.aiab-container
	{
	    width: 96%;
	    padding: 0 2%;
	}
}
*/

@media only screen and (max-width: 620px) {
  .aiab-container {
    width: 100%;
    padding: 0;
  }
  .aiab-container .col.one,
  .aiab-container .col.two,
  .aiab-container .col.three,
  .aiab-container .col.four,
  .aiab-container .col.five,
  .aiab-container .col.six,
  .aiab-container .col.seven,
  .aiab-container .col.eight,
  .aiab-container .col.nine,
  .aiab-container .col.ten,
  .aiab-container .col.eleven,
  .aiab-container .col.twelve,
  .aiab-container .col.thirteen,
  .aiab-container .col.fourteen,
  .aiab-container .col.fifteen,
  .aiab-container .col.sixteen,
  .aiab-container .col.seventeen,
  .aiab-container .col.eighteen,
  .aiab-container .col.nineteen,
  .aiab-container .col.twenty,
  .aiab-container .col.twenty_one,
  .aiab-container .col.twenty_two,
  .aiab-container .col.twenty_three,
  .aiab-container .col.twenty_four {
    width: 93.667%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2.167%;
    padding-right: 2.167%;
  }

  /*
	.aiab-container .col.twenty_one,
	.aiab-container .col.twenty_two,
	.aiab-container .col.twenty_three,
	.aiab-container .col.twenty_four
	{
		width:100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0%;
		padding-right: 0%;
	}
	.aiab-container .prefix_one
	{
		padding-left: 0;
	}
	
	.aiab-container .suffix_one
	{
		padding-right: 0;
	}
*/
}
