/* ==========================================================================
   Helper Utilities - Amphibious 2.0
   Layout, spacing, display, and utility classes
   ========================================================================== */

/* Display Utilities
   ========================================================================== */

.hide,
.hidden,
.print-only,
.assistive-text {
  display: none;
}

.show,
.visible {
  display: block;
}

.invisible {
  visibility: hidden;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

/* Positioning
   ========================================================================== */

.absolute,
.a {
  position: absolute;
}

.fixed,
.f {
  position: fixed;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

/* Position Helpers - Use with absolute/fixed positioning */
.absolute.top,
.a.t,
.fixed.top,
.f.t {
  top: 0;
}

.absolute.right,
.a.r,
.fixed.right,
.f.r {
  right: 0;
  float: none;
}

.absolute.bottom,
.a.b,
.fixed.bottom,
.f.b {
  bottom: 0;
}

.absolute.left,
.a.l,
.fixed.left,
.f.l {
  left: 0;
  float: none;
}

/* Float Utilities
   ========================================================================== */

.left,
.l,
.float-left {
  float: left;
}

.right,
.r,
.float-right {
  float: right;
}

.float-none {
  float: none;
}

/* Text Alignment
   ========================================================================== */

.text-left,
.align-left,
.align_left,
.al {
  text-align: left;
}

.text-center,
.align-center,
.align_center,
.ac {
  text-align: center;
}

.text-right,
.align-right,
.align_right,
.ar {
  text-align: right;
}

.text-justify,
.align-justify,
.align_just,
.aj {
  text-align: justify;
}

/* Margin Utilities
   ========================================================================== */

/* Remove margins */
.remove-margin,
.no-margin {
  margin: 0;
}

.remove-margin-top,
.remove_margin_top,
.rmt,
.mt-0 {
  margin-top: 0;
}

.remove-margin-bottom,
.remove_margin_bottom,
.rmb,
.mb-0 {
  margin-bottom: 0;
}

.remove-margin-left,
.ml-0 {
  margin-left: 0;
}

.remove-margin-right,
.mr-0 {
  margin-right: 0;
}

/* Half margins (0.5em) */
.half-margin-top,
.half_margin_top,
.hmt {
  margin-top: 0.5em;
}

.half-margin-bottom,
.half_margin_bottom,
.hmb {
  margin-bottom: 0.5em;
}

.half-margin-left,
.half_margin_left,
.hml {
  margin-left: 0.5em;
}

.half-margin-right,
.half_margin_right,
.hmr {
  margin-right: 0.5em;
}

/* Standard margins (1em) */
.margin-top,
.margin_top,
.mt,
.mt-1 {
  margin-top: 1em;
}

.margin-bottom,
.margin_bottom,
.mb,
.mb-1 {
  margin-bottom: 1em;
}

.margin-left,
.margin_left,
.ml,
.ml-1 {
  margin-left: 1em;
}

.margin-right,
.margin_right,
.mr,
.mr-1 {
  margin-right: 1em;
}

/* Double margins (2em) */
.double-margin-top,
.double_margin_top,
.dmt,
.mt-2 {
  margin-top: 2em;
}

.double-margin-bottom,
.double_margin_bottom,
.dmb,
.mb-2 {
  margin-bottom: 2em;
}

.double-margin-left,
.double_margin_left,
.dml,
.ml-2 {
  margin-left: 2em;
}

.double-margin-right,
.double_margin_right,
.dmr,
.mr-2 {
  margin-right: 2em;
}

/* Padding Utilities
   ========================================================================== */

/* Remove padding */
.remove-padding,
.no-padding {
  padding: 0;
}

/* Standard padding (1em) */
.padding,
.inset,
.pd {
  padding: 1em;
}

/* Half padding (0.5em) */
.half-pad-top,
.half_pad_top,
.hpt,
.pt-half {
  padding-top: 0.5em;
}

.half-pad-bottom,
.half_pad_bottom,
.hpb,
.pb-half {
  padding-bottom: 0.5em;
}

.half-pad-left,
.half_pad_left,
.hpl,
.pl-half {
  padding-left: 0.5em;
}

.half-pad-right,
.half_pad_right,
.hpr,
.pr-half {
  padding-right: 0.5em;
}

/* Standard padding (1em) */
.pad-top,
.pad_top,
.pt,
.pt-1 {
  padding-top: 1em;
}

.pad-bottom,
.pad_bottom,
.pb,
.pb-1 {
  padding-bottom: 1em;
}

.pad-left,
.pad_left,
.pl,
.pl-1 {
  padding-left: 1em;
}

.pad-right,
.pad_right,
.pr,
.pr-1 {
  padding-right: 1em;
}

/* Double padding (2em) */
.double-pad-top,
.double_pad_top,
.dpt,
.pt-2 {
  padding-top: 2em;
}

.double-pad-bottom,
.double_pad_bottom,
.dpb,
.pb-2 {
  padding-bottom: 2em;
}

.double-pad-left,
.double_pad_left,
.dpl,
.pl-2 {
  padding-left: 2em;
}

.double-pad-right,
.double_pad_right,
.dpr,
.pr-2 {
  padding-right: 2em;
}

/* Border Utilities
   ========================================================================== */

.no-border {
  border: none;
}

.border {
  border: 1px solid var(--color-border, #ececec);
}

.rule-above,
.rule_above,
.ra,
.border-top {
  border-top: 1px solid var(--color-border, #ececec);
}

.double-rule-above,
.double_rule_above,
.dra {
  border-top: 3px double var(--color-border, #ececec);
}

.rule-below,
.rule_below,
.rb,
.border-bottom {
  border-bottom: 1px solid var(--color-border, #ececec);
}

.double-rule-below,
.double_rule_below,
.drb {
  border-bottom: 3px double var(--color-border, #ececec);
}

.border-left {
  border-left: 1px solid var(--color-border, #ececec);
}

.border-right {
  border-right: 1px solid var(--color-border, #ececec);
}

/* Width Utilities
   ========================================================================== */

.full,
.fl,
.full-width,
.w-100 {
  width: 100%;
}

.half-width,
.w-50 {
  width: 50%;
}

.third-width,
.w-33 {
  width: 33.333%;
}

.quarter-width,
.w-25 {
  width: 25%;
}

.auto-width {
  width: auto;
}

/* Height Utilities
   ========================================================================== */

.full-height,
.h-100 {
  height: 100%;
}

.half-height,
.h-50 {
  height: 50%;
}

.auto-height {
  height: auto;
}

/* Text Utilities
   ========================================================================== */

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.no-decoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

/* Color Utilities
   ========================================================================== */

.meta,
.muted {
  color: var(--color-muted, #a9a9a9);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-success {
  color: var(--color-success);
}

.text-danger {
  color: var(--color-danger);
}

.text-warning {
  color: var(--color-warning);
}

.text-info {
  color: var(--color-info);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-info {
  background-color: var(--color-info);
}

/* Overflow Utilities
   ========================================================================== */

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

/* Cursor Utilities
   ========================================================================== */

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-wait {
  cursor: wait;
}

/* Flex Utilities
   ========================================================================== */

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

/* Z-Index Utilities
   ========================================================================== */

.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-100 {
  z-index: 100;
}
.z-1000 {
  z-index: 1000;
}
.z-max {
  z-index: 9999;
}

/* Accessibility Utilities
   ========================================================================== */

.sr-only,
.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  padding: inherit;
  margin: inherit;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/* Print Utilities
   ========================================================================== */

@media print {
  .hide-print,
  .no-print {
    display: none;
  }

  .show-print,
  .print-only {
    display: block;
  }

  .page-break-before {
    page-break-before: always;
  }

  .page-break-after {
    page-break-after: always;
  }

  .avoid-break {
    page-break-inside: avoid;
  }
}
